@mixin button {
    background-color: var(--accent);
    color: var(--white);
    font-family: var(--sans-font);
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    margin: 0;
    //margin-block-start: 3.6rem;
    padding: 1.5rem 6rem 1.7rem;
    border: 1px solid transparent;
    border-radius: 9rem;
    text-decoration: none;
    //text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 1px;
    transition: background-color var(--transition), color var(--transition);

    //@media screen and (min-width: 900px) {
    //    display: inline-block;
    //    //margin-block-start: 5.4rem;
    //}

    &:hover {
        background-color: var(--white);
        color: var(--accent);
        border: 1px solid var(--accent);
    }
}
