.testimonial_card {
    --card-padding: 0;
    --border-radius: 0;

    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 1.8rem;
    row-gap: 6rem;
    max-width: var(--max-width-content);

    .card-link-icon {
        grid-area: 1/1/1/1;
        margin-block-start: 0.8rem;
    }

    .card-content {
        grid-area: 1/2/1/-1;
    }

    .card-body p {
        color: var(--primary-light);
        font-family: var(--sans-font);
        font-size: clamp(2rem, 4vw, 3rem);
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 36px */
    }

    .card-header {
        grid-area: 2/2/-1/-1;

        h3 {
            color: var(--text);
            font-family: var(--sans-font);
            font-size: clamp(1.5rem, 2vw, 2rem);
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 1px;
        }
    }
}
