.primary-menu-container {
    position: relative;
    padding: 6rem 0;

    ul {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-wrapper,
    .column-wrapper {
        &>ul>li {
            margin-bottom: 1.6rem;
            padding-bottom: 1px;

            &>a {
                @extend .header-sm;
                margin-bottom: 1.6rem;
            }

            .dropdown-icon {
                position: absolute;
                left: 0;
                top: 8px;
                cursor: pointer;

                svg {
                    path {
                        transition: fill var(--transition);
                    }
                }
            }

            &.show {
                .dropdown-icon {
                    svg {
                        path {
                            fill: var(--accent);
                        }
                    }
                }
            }

            @media screen and (min-width: 720px) {
                .dropdown-icon {
                    top: 11px;
                }
            }

            @media screen and (min-width: 1040px) and (max-width: 1199px) {
                &>a {
                    font-size: 2.4rem;
                }
            }

        }

        a {
            display: block;
            text-decoration: none;
        }

        .sub-menu {
            display: none;
            padding-bottom: 20px;

            li {
                margin-bottom: 1.1rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-family: var(--sans-font);
                    font-weight: 400;
                    color: var(--text);
                    font-size: 1.7rem;
                    line-height: 120%;
                }
            }
        }

        @media screen and (min-width: 1040px) {
            .sub-menu {
                display: block !important;
            }
        }
    }

    @media screen and (max-width: 1039px) {
        .menu-wrapper,
        .column-wrapper {
            &>ul>li {
                position: relative;
                padding-left: 3.5rem;
            }
        }
    }

    .column-wrapper {
        flex-basis: 100%;
    }

    @media screen and (min-width: 900px) {
        .menu-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .column-wrapper {
            flex-basis: 50%;

            &>ul li {
                margin-bottom: 4.2rem;
            }
        }
    }

    @media screen and (min-width: 1040px) {
        .column-wrapper {
            flex-basis: 36%;

            &>ul li {
                margin-bottom: 4.2rem;
                padding-bottom: 0;

                &.special-pad {
                    margin-bottom: 3.8rem;
                }
            }
        }

        .column-wrapper:nth-child(3) {
            flex-basis: 28%;
        }

        .menu-wrapper,
        .column-wrapper {
            .sub-menu {
                padding-bottom: 0;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: 1240px) {
        .column-wrapper {
            flex-basis: 32%;
        }

        .column-wrapper:nth-child(2) {
            flex-basis: 36%;
        }

        .column-wrapper:nth-child(3) {
            flex-basis: 32%;
        }
    }
}

@media screen and (max-width: 1039px) {
    .primary-menu-container {
        padding: 4.4rem 0 1rem;
    }
}
