.split_full_card {
    --card-padding: 0;
    --content-padding: 3rem 3rem 4.6rem;
    --content-font-size: inherit;
    --content-line-height: inherit;
    --grid-columns: 1fr;
    --column-gap: 0;
    --content-grid-area: 1 / 1 / 1 / 8;
    --image-grid-area: 1 / 7 / 1 / -1;
    --content-z: 2;
    --image-z: 1;
    --image-sizing: cover;
    --image-display: none;
    --image-margin-top: 0;

    &.image-contain {
        --image-sizing: contain;
        @media screen and (min-width: 768px) {
            --image-position: top;
            --image-margin-top: 3.5rem;
        }
    }

    &.image-first {
        --content-grid-area: 1 / 6 / 1 / -1;
        --image-grid-area: 1 / 1 / 1 / span 5;
    }

    &.no-image {
        display: block;
    }

    @media screen and (min-width: 768px) {
        --grid-columns: repeat(12, 1fr);
        --image-display: block;
        &.image-contain:not(.image-first) {
            --image-grid-area: 1/8/1/-1;
        }
    }

    @media screen and (min-width: 900px) {
        --content-padding: 4rem 4rem 5.5rem;
        --content-font-size: 2rem;
        --content-line-height: 150%;
    }

    display: grid;
    column-gap: var(--column-gap);
    grid-template-columns: var(--grid-columns);

    .content-part {
        grid-area: var(--content-grid-area);
        padding: var(--content-padding);
        border-radius: var(--border-radius);
        z-index: var(--content-z);
    }

    .image-part {
        display: var(--image-display);
        border-radius: var(--border-radius);
        grid-area: var(--image-grid-area);
        z-index: var(--image-z);
        overflow: hidden;

        img {
            object-fit: var(--image-sizing);
            object-position: var(--image-position);
            margin-block-start: var(--image-margin-top);
        }
    }
}
